.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: linear-gradient(90deg, #DBE0E6 0%, #EDDCD2 100%);
    margin: 15% auto;
    padding: 20px 50px;
    border-radius: 32px;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__content {
    padding: 0 50px;
}

.form-footer {
    display: flex;
    justify-content: center;
}

.account-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.info-title {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-base-gray-color);
}

.month-results {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.results {
    width: 45%;
    border: 1px solid var(--text-light-gray-color);
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.results__header {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-dark-red-color);
}

.last-transactions {
    display: flex;
    flex-direction: column;
}

.day-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.day-block .date {
    color: var(--text-dark-red-color);
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.senders {
    display: flex;
    gap: 15px;
}

.sender .names {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transaction .balance {
    color: var(--text-dark-red-color);
}
