:root {
    --text-light-color: #F4E0DD;
    --text-orange-color: #996848;
    --text-gold-color: #E2A570;
    --text-base-gray-color: #4F5158;
    --text-light-gray-color: rgba(133, 135, 139, 0.5);
    --text-dark-red-color: #743030;
    --text-light-green-color: #8BCA5C;

    --background-gradient-base: linear-gradient(270deg, #EEDCD2 0%, #DBE0E6 49.9%);
    --background-gradient-blue: linear-gradient(180deg, #93AEB9 0%, #ABC1CA 52.6%, #B5C8CF 100%);
}

* {
    font-family: Space Mono;
}

a {
    color: var(--text-base-gray-color)!important;
    text-decoration: none!important;
}

a:hover {
    color: var(--text-dark-red-color)!important;
}

th {
    font-weight: normal!important;
}

.color-dark-red {
    color: var(--text-dark-red-color);
}

.color-gold {
    color: var(--text-gold-color);
}

.color-light-green {
    color: var(--text-light-green-color);
}

p.line {
    background-color: var(--text-base-gray-color);
    height: 1px;
    width: 100%;
    opacity: 0.5;
    margin-bottom: 0!important;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--text-base-gray-color);
}

.circle-create:hover {
    cursor: pointer;
}

input.circle-selected:checked + label .circle {
    height: 52px;
    width: 52px;
    box-shadow: 0px 4px 4px rgba(79, 81, 88, 0.55);
}

.big-title {
    padding-right: 10px;
    text-wrap: nowrap;
    color: var(--text-dark-red-color);
    font-size: 25px;
    letter-spacing: 3.25px;
    text-transform: uppercase;
}

.title-row {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-row .title {
    margin-right: 10px;
}

@media (min-width: 1400px) {
    .container-lg{
        max-width: 90%!important;
    }
}

