.statistic {
    display: flex;
    color: var(--text-base-gray-color);
}

.categories {
    margin-top: 24px;
}

.statistic .spendings .header .title {
    color: var(--text-dark-red-color);
    text-transform: uppercase;
    font-size: 36px;
}

.statistic .spendings .header .period {
    font-size: 18px;
}

.statistic .spendings .categories .item {
    display: flex;
    font-size: 18px;
    align-items: center;
    width: 300px;
    text-transform: capitalize;
}

.statistic .spendings .categories .item:not(:last-child) {
    margin-bottom: 15px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.item .title {
    margin: 0 10px;
}

.gold {
    color: var(--text-gold-color);
}

.small {
    text-transform: lowercase;
    font-size: 14px;
    color: var(--text-base-gray-color);
}

.categories .spent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.categories .spent .amount {
    border-bottom: 1px solid rgba(79, 81, 88, 0.27);
}

/* PERIODS */
.periods {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}


/* WHEEL */
.wheel {
    width: 380px!important;
    height: 380px!important;
    margin-right: 30px;
}

