.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.block {
    width: 33.3333%;
    border-radius: 47px 47px 0 0;
    height: 300px;
    padding: 43px 92px 82px 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.finance {
    color: var(--text-base-gray-color);
    background: linear-gradient(64deg, #B1C5BB 1.06%, #D1E3D7 56.23%);
}

.total-spent {
    color: var(--text-dark-red-color);
    background: linear-gradient(64deg, #C5AAA3 1.06%, #F0D3CD 56.23%);
}

.block .header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    align-items: center;
}

.block .amount {
    font-size: 60px;
}

.footer-block-currency {
    font-size: 30px;
    text-transform: uppercase;
}

.total-amount {
    display: flex;
}

.finance .total-amount .description {
    margin-left: 10px;
    color: var(--text-gold-color);
}

.block.currency {
    padding: 0 10px 30px 47px;
    justify-content: flex-start;
}

.currency {
    background: linear-gradient(64deg, #CFB9AA 1.06%, #F1E2DB 56.23%);
}

.footer .coin img {
    width: 100px;
    height: 100px;
}

.currencies .item {
    display: flex;
    justify-content: space-between;
}

.currencies table {
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
}

tr.currency-item {
    color: var(--text-dark-red-color);
}

tr.currency-item:not(:last-child) {
    border-bottom: 1px solid rgba(79, 81, 88, 0.27);
}

.currencies table td, .currencies table th {
    padding: 5px 0;
}



