.oval {
    border-radius: 53px;
    border: 3px solid #FFF;
    background: #EBEFF5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 31px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.oval:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.oval.active {
    color: #FFF;
    border: 3px solid #D2A58D;
    background: #DFB39F;
}

