body {
    background: linear-gradient(180deg, #FDE7E8 0%, #D3D2E2 100%);
}

.statistic-content {
    display: flex;
    gap: 200px;
}

.statistic-nav {
    width: 20%;
    background: linear-gradient(180deg, rgba(252, 231, 233, 0.38) 0%, rgba(252, 231, 233, 0.00) 0.01%, rgba(252, 231, 233, 0.53) 46.97%, rgba(252, 231, 233, 0.00) 100%);
    padding: 20px 15px;
}

.nav-title {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--text-dark-red-color);
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-item.oval {
    width: -moz-fit-content;
    width: fit-content;
    color: var(--text-base-gray-color);
}

.statistic-charts {
    width: 80%;
}

.chart-title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-dark-red-color);
    width: 100%;
}

