.page_content {
    display: flex;
    height: 70vh;
}

.left-container {
    margin: 0 35px 0 80px;
    width: 25%;
    display: flex;
    padding: 2px 0px 241px 0px;
    flex-direction: column;
    gap: 20px;
}

.accounts-list {
    display: flex;
    flex-wrap: wrap;
}

.text_row {
    color: var(--text-base-gray-color);
    font-size: 15px;
    line-height: normal;
    margin-bottom: 10px;
}

.details_block .title {
    text-transform: uppercase;
    letter-spacing: 1.95px;
    font-size: 15px;
    color: var(--text-dark-red-color);
}

.create-account .oval {
    width: 150px;
}
