body {
    background: var(--background-gradient-blue);
}

.login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-image img {
    border-radius: 50%;
    width: 800px;
    height: 800px;
}

.form-item {
    display: flex;
    align-items: center;
    width: 740px;
    height: 610px;
    border-radius: 33px;
    border-top: 5px solid rgba(255, 255, 255, 0.55);
    background: #F4EAD8;
    box-shadow: 0px 7px 33px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}


.login__input {
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
	border-top: 1px solid red;
}

.login {
    width: 90%;
	padding: 30px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}


.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.form-back {
    position: absolute;
    top: 32%;
    left: 10%;
    z-index: -1;
}

.form-name {
    color: var(--text-dark-red-color);
    text-transform: uppercase;
    position: relative;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 10%;
}

.form-name div {
    letter-spacing: 40px;
    transform-origin: top left;
    transform: rotate(-90deg);
    padding: 0;
    width: 100%;
}

button.oval {
    margin: 0 auto;
    border-radius: 15px;
    border: None;
    background-color: var(--text-gold-color);
    color: var(--text-light-color);
}

#register_text {
    left: 20px;
}
