body {
    background: linear-gradient(180deg, #E1F3F4 0%, #B6D2D1 100%);
}

.profile-container {
    display: flex;
    justify-content: space-between;
}

.user-profile {
    width: 40%;
}

.profile-image img{
    height: 83.5vh;
    border-radius: 50%;
}

.profile-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(186, 200, 210, 0.55);
}
