body {
    background: var(--background-gradient-base);
    color: var(--text-orange-color);
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome .content .coins {
    display: flex;
    justify-content: flex-end;
}

.welcome .content .coins.top .coin img {
    width: 300px;
    height: 300px;
}

.welcome .content .coins.bot .coin img {
    width: 225px;
    height: 225px;
}

.greeting {
    width: 33%;
}

.greeting h1 {
    font-size: 58px;
}

.advantages {
    display: flex;
    justify-content: space-between;
}
