.card {
    margin: 10px;
    padding: 10px 20px;
    width: 315px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 32px;
    background: linear-gradient(180deg, #FFF 0%, #E9F8F4 50.39%, #E9F8F4 77.15%, #EAE4E1 98.06%);
    box-shadow: 2px 1px 19px 0px #C7C5C4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
    border: 1px solid var(--text-dark-red-color);
}

.main-account {
    border: 3px solid #44712F;
}

.card_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.card .title {
    color: var(--text-dark-red-color);
    font-family: Space Mono;
    font-size: 15px;
    letter-spacing: 3.25px;
    text-transform: uppercase;
}

.card_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transactions_link {
    color: var(--text-dark-red-color);
    text-decoration: underline!important;
}

.data-amount {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-base-gray-color);
}

.data-converted {
    font-weight: 700;
    color: var(--text-light-gray-color);
}

.currency-value {
    text-transform: uppercase;
}
