.last-transactions {
    max-height: 380px;
    padding: 26px 50px;
    font-size: 14px;
    background: linear-gradient(56deg, #C8D9CD 2.67%, #F2F4F3 98.49%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 47px;
    text-align: center;
}

.last-transactions .title {
    font-size: 24px;
    color: var(--text-dark-red-color);
    text-transform: uppercase;
}

.history {
    color: var(--text-base-gray-color);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history .item {
    display: flex;
    align-items: center;
}

.history .item:not(:last-child) {
    margin-bottom: 10px;
}

.history .item .account {
    width: 106px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history .item:hover {
    background: linear-gradient(90deg, rgba(112, 226, 185, 0.00) 0%, rgba(112, 226, 185, 0.49) 49.14%, rgba(200, 217, 205, 0.00) 100%, rgba(112, 226, 185, 0.49) 100%);
    cursor: pointer;
}

.details {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 33%;
}

.details .amount {
    border-bottom: 1px solid rgba(79, 81, 88, 0.27);
    padding: 2px;
    text-align: center;
}

.arrow-right {
    margin: 0 5px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.data {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

input:checked + label .circle {
    height: 52px;
    widths: 52px;
    box-shadow: 0px 4px 4px rgba(79, 81, 88, 0.55);
}

input:checked + label .name {
    color: var(--text-dark-red-color);
    font-weight: 700;
}
