.vertical-menu {
    width: fit-content;
}

.vertical-menu-block {
    margin-bottom: 30px;
}

.vertical-menu-block .title {
    color: var(--text-gold-color);
    font-size: 20px;
    text-transform: uppercase;
}

.vertical-menu-block .vertical-items {
    color: var(--text-base-gray-color);
    display: flex;
    flex-direction: column;
}

.vertical-menu-block .vertical-items .item {
    margin-top: 8px;
    font-size: 18px
}

.vertical-menu-block .vertical-item:hover {
    color: var(--text-dark-red-color);
    cursor: pointer;
    text-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
}
