.navbar {
    color: var(--text-orange-color);
    margin-top: 47px;
    justify-content: space-between;
    font-size: 20px;
}

.logo-title {
    color: var(--text-orange-color);
    font-size: 26px;
    text-transform: uppercase;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item:hover {
    color: var(--text-dark-red-color);
    cursor: pointer;
}

.profile-header {
    padding: 5px 17px;
    border-radius: 42px;
    border: 2px solid #D2A58D;
    background: #DFB39F;
    text-align: center;
    color: var(--text-light-color);
}
